* {
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
	max-width: 768px;
	margin: 0 auto;
	font-weight: 300;
	background-color: #ebdfdb;
}

h1 {
	padding-top: 40px;
	padding-bottom: 40px;
}

input {
	border: 1px solid white;
}

.main-header,
.contact-info,
.preferences {
	display: flex;
	flex-direction: column;
}

.contact-info input {
	height: 50px;
	margin-bottom: 15px;
}

h2,
.tagline {
	align-self: center;
	text-align: center;
}

.title {
	background-color: #001360;
	color: #ebdfdb;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item {
	display: flex;
}

.field {
	flex-grow: 1;
	margin-bottom: 20px;
}

.contact-info,
.preferences {
	border: none;
	padding-top: 50px;
}

.topics {
	display: flex;
	flex-direction: column;
}

.light {
	padding: 5px;
}

.contact-info .flex-pair {
	display: flex;
	flex-direction: column;
}

.contact-info label {
	margin-bottom: 10px;
}

footer {
	text-align: center;
}

#zip {
	width: 50%;
}
