/*--- Layout styles ---*/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	font-weight: 100;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-size: 1.6em;
}

.main-header,
.contact-info,
.preferences {
	display: flex;
	flex-direction: column;
}

.sign-up {
	width: 95%;
	margin: 0 auto;
}

.item {
	display: flex;
	align-items: center;
}

.field {
	flex-grow: 1;
	margin-bottom: 20px;
}

/*--- Input styles ---*/

input,
select,
textarea,
button {
	border: 1px solid white;
	border-radius: 10px;
	background-color: rgb(241, 241, 241);
	padding-right: 10px;
}

input:focus,
select:focus,
textarea:focus {
	outline: none;
	border: 2px inset midnightblue; /* creates focus effect on inputs */
	transform: scale(1.01, 1.01);
	transition: all 0.3s;
}

.contact-info input,
select,
button {
	height: 50px;
	margin-bottom: 15px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
	text-align: right;
	font-style: italic;
}

textarea {
	padding: 7px;
}

select:invalid,
select option[value=""] {
	/* grays out placeholder on state dropdown */
	color: #999999;
}

textarea {
	border-style: none;
	border-color: transparent;
	overflow: auto;
	margin: 10px 0;
}

button {
	width: 100%;
	background-color: rgb(64, 226, 99);
	color: white;
	border: none;
	margin-top: 5px;
	transition: box-shadow .3s;
}

button:hover {
	box-shadow: 3px 3px 5px black;
}

/*--- Base styles ---*/

h2,
.tagline {
	text-align: center;
}

.tagline,
label,
p {
	color: lightslategrey;
	padding: 5px;
}

.title {
	background-color: #001360;
	color: #f7faf9;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	max-width: none;
}

.tagline {
	border-bottom: 2px double midnightblue;
	padding-bottom: 18px;
	margin-bottom: 2px;
	align-items: center;
}

.contact-info,
.preferences {
	border: none;
}

.color-wrap {
	background-color: whitesmoke;
}

.topics {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.contact-info {
	border-bottom: 2px solid midnightblue;
}

.contact-info .flex-pair {
	display: flex;
	flex-direction: column;
}

.contact-info label {
	margin-bottom: 10px;
}

footer {
	text-align: center;
}

#zip {
	width: 50%;
}

@media (min-width: 768px) {
	.contact-info .flex-pair {
		flex-direction: row;
		align-items: center;
	}

	.contact-info input {
		flex-grow: 1;
		flex-basis: 75%;
	}

	.contact-info label {
		flex-basis: 25%;
	}

	.sign-up {
		width: 75%;
		max-width: 800px;
	}

	#zip {
		max-width: 25%;
	}
}
